PORT=5001
FLASK_DEBUG=false
SQLALCHEMY_ECHO=false
SECRET_KEY=

DB_USERNAME=
DB_PASSWORD=
DB_SERVER=
DB_PORT=1433
DB_NAME=DB
DB_DRIVER=ODBC Driver 18 for SQL Server

REDIS_HOST=
REDIS_PORT=6379
REDIS_DB=0

AWS_REGION=ap-east-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
CLOUDFRONT_DOMAIN=
API_GATEWAY_URL=
