USE [DB]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 2025/10/10 下午 05:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[cId] [nvarchar](8) NOT NULL,
	[cName] [nvarchar](30) NULL,
	[account] [nvarchar](20) NULL,
	[password] [varchar](255) NULL,
	[email] [nvarchar](64) NULL,
	[phone] [nvarchar](10) NULL,
	[sex] [nvarchar](14) NULL,
	[birthday] [datetime] NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[cId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Client_Favorites]    Script Date: 2025/10/10 下午 05:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client_Favorites](
	[cId] [nvarchar](8) NOT NULL,
	[pId] [nvarchar](8) NOT NULL,
	[updateTime] [datetime] NULL,
 CONSTRAINT [PK_Client_favorites] PRIMARY KEY CLUSTERED 
(
	[cId] ASC,
	[pId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Good_Review]    Script Date: 2025/10/10 下午 05:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Good_Review](
	[pId] [nvarchar](8) NOT NULL,
	[date] [datetime] NOT NULL,
	[userName] [nvarchar](30) NULL,
	[rating] [float] NULL,
	[reviewText] [nvarchar](max) NULL,
 CONSTRAINT [PK_GoodReview] PRIMARY KEY CLUSTERED 
(
	[pId] ASC,
	[date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price_History]    Script Date: 2025/10/10 下午 05:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price_History](
	[pId] [nvarchar](8) NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[prePrice] [numeric](10, 2) NULL,
	[storeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Price_History] PRIMARY KEY CLUSTERED 
(
	[pId] ASC,
	[updateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Price_Now]    Script Date: 2025/10/10 下午 05:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Price_Now](
	[pId] [nvarchar](8) NOT NULL,
	[updateTime] [datetime] NOT NULL,
	[store] [nvarchar](50) NULL,
	[storePrice] [numeric](10, 2) NULL,
	[storeDiscount] [nvarchar](200) NULL,
	[storeLink] [nvarchar](200) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Price_Now_1] PRIMARY KEY CLUSTERED 
(
	[pId] ASC,
	[updateTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2025/10/10 下午 05:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[pId] [nvarchar](8) NOT NULL,
	[pName] [nvarchar](50) NULL,
	[brand] [nvarchar](30) NULL,
	[category] [nvarchar](20) NULL,
	[clickTimes] [int] NULL,
	[review] [float] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[pId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Picture]    Script Date: 2025/10/10 下午 05:25:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Picture](
	[picId] [nvarchar](16) NOT NULL,
	[pId] [nvarchar](8) NULL,
	[pic] [varbinary](max) NULL,
	[updateTime] [datetime] NULL,
 CONSTRAINT [PK_Product_Picture] PRIMARY KEY CLUSTERED 
(
	[picId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [LARGE_DATA]
GO
INSERT [dbo].[Client] ([cId], [cName], [account], [password], [email], [phone], [sex], [birthday]) VALUES (N'C01', N'test0000', N'Test_0001', N'pbkdf2:sha256:600000$f3BZAQb56f7CoLYd$5a6807d6fb4018c4a9e701ae1e69614bd745f38f082d07fbaddc756a8102549f', N'test01@mail.com', N'0912345678', N'男', CAST(N'1905-06-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Client] ([cId], [cName], [account], [password], [email], [phone], [sex], [birthday]) VALUES (N'C02', N'test02', N'Test02', N'test02', N'test02@mail.com', N'0932165498', N'女', CAST(N'1905-05-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Client] ([cId], [cName], [account], [password], [email], [phone], [sex], [birthday]) VALUES (N'C03', N'test03', N'Test03', N'test03', N'test03@mail.com', N'0987654321', N'女', CAST(N'1905-05-12T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Client_Favorites] ([cId], [pId], [updateTime]) VALUES (N'C01', N'P01', NULL)
INSERT [dbo].[Client_Favorites] ([cId], [pId], [updateTime]) VALUES (N'C01', N'P02', NULL)
INSERT [dbo].[Client_Favorites] ([cId], [pId], [updateTime]) VALUES (N'C01', N'P04', NULL)
GO
INSERT [dbo].[Good_Review] ([pId], [date], [userName], [rating], [reviewText]) VALUES (N'P01', CAST(N'2025-04-22T18:25:40.000' AS DateTime), N'waston', 5, N'Ｎice')
INSERT [dbo].[Good_Review] ([pId], [date], [userName], [rating], [reviewText]) VALUES (N'P01', CAST(N'2025-04-22T18:25:42.000' AS DateTime), N'waston', 1, N'爛死了')
INSERT [dbo].[Good_Review] ([pId], [date], [userName], [rating], [reviewText]) VALUES (N'P11', CAST(N'2025-04-07T00:00:00.000' AS DateTime), N'匿名', 5, N'外包裝設計很好看，眼影配色也很美')
GO
INSERT [dbo].[Price_History] ([pId], [updateTime], [prePrice], [storeName]) VALUES (N'P01', CAST(N'1901-02-04T00:00:00.000' AS DateTime), CAST(2021.00 AS Numeric(10, 2)), N'康氏美')
INSERT [dbo].[Price_History] ([pId], [updateTime], [prePrice], [storeName]) VALUES (N'P02', CAST(N'1900-09-13T00:00:00.000' AS DateTime), CAST(2021.00 AS Numeric(10, 2)), N'屈臣氏')
INSERT [dbo].[Price_History] ([pId], [updateTime], [prePrice], [storeName]) VALUES (N'P03', CAST(N'1900-10-17T00:00:00.000' AS DateTime), CAST(2021.00 AS Numeric(10, 2)), N'康氏美')
GO
INSERT [dbo].[Price_Now] ([pId], [updateTime], [store], [storePrice], [storeDiscount], [storeLink], [status]) VALUES (N'P1', CAST(N'2025-08-13T12:11:01.623' AS DateTime), N'屈臣氏', CAST(281.00 AS Numeric(10, 2)), N'無', N'https://www.watsons.com.tw/za%E7%B5%B2%E6%9F%94%E8%BC%95%E9%9C%A7%E5%8F%A3%E7%B4%85-02%E5%88%9D%E6%88%80%E6%9A%96%E7%B2%89/p/BP_295285', 1)
INSERT [dbo].[Price_Now] ([pId], [updateTime], [store], [storePrice], [storeDiscount], [storeLink], [status]) VALUES (N'P1', CAST(N'2025-08-13T12:11:01.627' AS DateTime), N'康是美', CAST(281.00 AS Numeric(10, 2)), N'超取滿NT$399免運', N'https://shop.cosmed.com.tw/SalePage/Index/10011764', 1)
INSERT [dbo].[Price_Now] ([pId], [updateTime], [store], [storePrice], [storeDiscount], [storeLink], [status]) VALUES (N'P1', CAST(N'2025-08-13T12:19:15.293' AS DateTime), N'寶雅', CAST(281.00 AS Numeric(10, 2)), N'超取滿NT$490免運', N'https://www.poyabuy.com.tw/SalePage/Index/10060496', 1)
GO
INSERT [dbo].[Product] ([pId], [pName], [brand], [category], [clickTimes], [review]) VALUES (N'P01', N'Hair Recipe化妝品_臉部彩妝', N'Hair Recipe髮的食譜', N'化妝品_臉部彩妝', 6, 4.9)
INSERT [dbo].[Product] ([pId], [pName], [brand], [category], [clickTimes], [review]) VALUES (N'P02', N'Dove多芬 化妝品_眼眉彩妝_眼影', N'Dove多芬', N'化妝品_眼眉彩妝_眼影', 0, 5)
INSERT [dbo].[Product] ([pId], [pName], [brand], [category], [clickTimes], [review]) VALUES (N'P03', N'head&shoulders海倫仙度絲 去屑洗髮乳 檸檬清爽', N'head&shoulders海倫仙度絲', N'化妝品_唇部彩妝_唇膏', 0, 5)
GO
ALTER TABLE [dbo].[Client_Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Client_Favorites_Client1] FOREIGN KEY([cId])
REFERENCES [dbo].[Client] ([cId])
GO
ALTER TABLE [dbo].[Client_Favorites] CHECK CONSTRAINT [FK_Client_Favorites_Client1]
GO
ALTER TABLE [dbo].[Client_Favorites]  WITH CHECK ADD  CONSTRAINT [FK_Client_favorites_Product] FOREIGN KEY([pId])
REFERENCES [dbo].[Product] ([pId])
GO
ALTER TABLE [dbo].[Client_Favorites] CHECK CONSTRAINT [FK_Client_favorites_Product]
GO
ALTER TABLE [dbo].[Good_Review]  WITH CHECK ADD  CONSTRAINT [FK_GoodReview_Product] FOREIGN KEY([pId])
REFERENCES [dbo].[Product] ([pId])
GO
ALTER TABLE [dbo].[Good_Review] CHECK CONSTRAINT [FK_GoodReview_Product]
GO
ALTER TABLE [dbo].[Price_History]  WITH CHECK ADD  CONSTRAINT [FK_Price_History_Product] FOREIGN KEY([pId])
REFERENCES [dbo].[Product] ([pId])
GO
ALTER TABLE [dbo].[Price_History] CHECK CONSTRAINT [FK_Price_History_Product]
GO
ALTER TABLE [dbo].[Price_Now]  WITH CHECK ADD  CONSTRAINT [FK_Price_Now_Product] FOREIGN KEY([pId])
REFERENCES [dbo].[Product] ([pId])
GO
ALTER TABLE [dbo].[Price_Now] CHECK CONSTRAINT [FK_Price_Now_Product]
GO
ALTER TABLE [dbo].[Product_Picture]  WITH CHECK ADD  CONSTRAINT [FK_Product_Picture_Product] FOREIGN KEY([pId])
REFERENCES [dbo].[Product] ([pId])
GO
ALTER TABLE [dbo].[Product_Picture] CHECK CONSTRAINT [FK_Product_Picture_Product]
GO
